<template>
  <div class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{title}}</h2>
    </div>
    <div class="puml_view mdl-card__supporting-text">
      <img :src="url" alt="puml preview" width="100%" />
    </div>
  </div>
</template>

<script src='./PumlViewer.js' />

<style scoped src='./PumlViewer.css' />
