<template>
  <div class="card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">{{ title }}</h2>
    </div>
    <div class="ace-card-text mdl-card__supporting-text">
    <div id="puml-editor" />
    </div>
    <div class="mdl-card__menu">
      <div v-if="puml">
        <button class="mdl-button mdl-button-icon mdl-js-button mdl-js-ripple-effect" target="_blank" @click="togglePreview()">
          <i class="material-icons">{{visibilityIcon}}</i>
        </button>
        <a class="mdl-button mdl-button-icon mdl-js-button mdl-js-ripple-effect" target="_blank" :href="href" download="download.puml">
          <i class="material-icons">cloud_download</i>
        </a>
     </div>
    </div>
  </div>
</template>

<script src='./PumlEditor.js' />

<style scoped src='./PumlEditor.css' />
