#puml-editor { 
  width: 100%;
  height: 600px;
}


.card-wide.mdl-card {
  width: 100%;
}

.ace-card-text.mdl-card__supporting-text {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}
