<template>
<div>
  <div class="mdl-grid">
    <div :class="[preview ? sixCell : twelveCell]">
        <puml-editor/>
    </div>
    <div :class="[preview ? sixCell : 'hidden']">
        <puml-viewer/>
    </div>
  </div>
</div>
</template>

<script>
import PumlEditor from '@/components/PumlEditor/PumlEditor.vue'
import PumlViewer from '@/components/PumlViewer/PumlViewer.vue'

export default {
  name: 'Home',
  components: {
    PumlViewer,
    PumlEditor
  },
  mounted: function () {
  },
  computed: {
    preview () {
      return this.$store.state.preview
    }
  },
  data () {
    return {
      twelveCell: 'mdl-cell mdl-cell--12-col',
      sixCell: 'mdl-cell mdl-cell--6-col',
      zeroCell: 'mdl-cell mdl-cell--0-col'
    }
  },
  methods: {
  }
}
</script>

<style>
  .custom-resizer {
    width: 100%;
  }
  .custom-resizer > .pane {
    text-align: left;
    padding: 15px;
    overflow: hidden;
    background: #b3d4fc;
    border: 1px solid #ccc;
  }

  .pane.puml-edit-pane {
    width: 100%;
  }

  .hidden {
    display: none;
  }

  .pane.puml-view-pane {
    width: 100%;
  }

  .custom-resizer > .multipane-resizer {
    margin: 4px;
    position: relative;
  }
</style>
