<template>
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!-- <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{this.title}}</span>
      </div>
    </header> -->
    <main class="mdl-layout__content">
      <div class="page-content">
        <router-view />
      </div>
    </main>
  </div>
</template>

<script>
require('material-design-lite')
export default {
  name: 'App',
  data () {
    return {
      title: 'PlantUML Toolset'
    }
  }
}
</script>

<style>
  @import "../node_modules/material-design-lite/dist/material.min.css";

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');

  .mdl-layout .mdl-layout__drawer-button {
    display: none;
  }

  .mdl-layout__header-row {
    padding-left: 8px
  }
</style>
